.Container {
  cursor: pointer;
  transition: 500ms;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.7rem;
  border: 2px solid green;

  span {
    // width: 3rem;
    height: 0.2rem;
    display: inline-block;
    background: white;
    // background: $color-light;
    transform-origin: right;
  }
}

.In {
  span {
    height: 0.2rem;
    animation: Show 500ms ease-in-out forwards;

    &:nth-child(2) {
      animation-delay: 100ms;
    }

    &:nth-child(3) {
      animation-name: Show2;
      animation-delay: 200ms;
    }
  }
}

.Out {
  span {
    width: 3.5rem;
    animation: Hide 500ms ease-in-out forwards;

    &:nth-child(1) {
      animation-delay: 200ms;
    }

    &:nth-child(2) {
      animation-delay: 100ms;
    }

    &:nth-child(3) {
      animation-name: Hide2;
    }
  }
  //  animation: name duration timing-function delay iteration-count direction fill-mode;
}

@keyframes Show {
  0% {
    width: 0;
  }

  100% {
    width: 3.5rem;
  }
}
@keyframes Show2 {
  0% {
    width: 0;
  }

  100% {
    width: 2.3rem;
  }
}

@keyframes Hide {
  0% {
    width: 3.5rem;
  }

  100% {
    width: 0;
  }
}
@keyframes Hide2 {
  0% {
    width: 2.3rem;
  }

  100% {
    width: 0;
  }
}
