.Container {
  z-index: 50;
  position: relative;
  height: 60px;
  font-weight: 100;

  @media (min-width: 768px) {
    border-top: 0.1px solid lightgray;
  }

  .Contact {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 32px;
    gap: 16px;
    border-bottom: 0.1px solid lightgray;
    width: 100%;

    svg {
      font-size: 20px;
    }

    @media (min-width: 768px) {
      width: auto;
      border-bottom: none;
    }
  }

  p {
    text-align: center;
    padding: 16px;
  }
}
