.Container {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #7c4b87;
  padding: 5px;
  padding-bottom: 20px;
  position: relative;
  animation: SlideIn 500ms forwards;
  right: 20px;
  box-shadow: 0px 4px 28.9px 0px rgba(0, 0, 0, 0.08);

  &::after {
    height: 5px;
    background-color: #7c4b87;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    animation: Shrink 7000ms linear forwards;
    border-bottom-left-radius: 0.5rem;
  }

  &.ToastIsVisible {
    animation: none !important;
  }

  &.Out {
    animation: SlideOut 500ms forwards !important;
  }

  &.Error {
    background-color: #fee2e2;
    color: #991b1b;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.7));

    &::after {
      background-color: #991b1b;
      animation: Shrink 30000ms linear forwards;
    }
  }

  &.IsPaused {
    animation: none !important;

    &::after {
      -webkit-animation-play-state: paused;
      animation-play-state: paused;
    }
  }

  .Content {
    align-self: center;
    margin-top: 1rem;
  }

  .Close {
    position: absolute;
    font-size: 20px;
    z-index: 15;
    top: 5px;
    left: 5px;
    color: #7c4b87;
    cursor: pointer;

    &.Error {
      color: #991b1b;
    }
  }

  .Check,
  .Cancel {
    font-size: 2rem;
    margin-right: 1rem;
    border-radius: 50%;
    width: max-content;
  }

  .Check {
    color: green;
  }

  .Cancel {
    color: rgb(116 4 4);
  }
}

@keyframes SlideIn {
  0% {
    transform: translateX(10rem);
  }
  70% {
    transform: translateX(-2rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes SlideOut {
  0% {
    transform: translateX(0rem);
  }
  30% {
    transform: translateX(-2rem);
  }
  100% {
    transform: translateX(100vw);
  }
}
@keyframes Shrink {
  0% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}
